pipeline/pp_019_lookup_activity_sql_read_table.json
{
	"name": "pp_019_lookup_activity_sql_read_table",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_look_up_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "x",
					"value": {
						"value": "@activity('Lookup1').output.firstrow.id",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-19T05:54:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}