pipeline/pp_017_lookup_activity.json
{
	"name": "pp_017_lookup_activity",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_lookup_activity_one_parameter",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "y",
					"value": {
						"value": "@activity('Lookup').output.firstRow.name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			},
			"y": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-18T07:13:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}